<h3>频道列表</h3>
{% for channel in channels %}
  {% if (loop.index - 1) % 6 == 0 %}
    <div class="row">
  {% endif %}
  <div class="col-lg-2 col-md-4" style="text-align: center;">
    {% if channel.image_url %}
    <a href="{{ url_for('main.channel', channel_id=channel.id) }}" title="{{ channel.name | safe }}">
      <img class="img-rounded" width="110%" src="{{ channel.image_url }}">
    </a>
    <a href="{{ url_for('main.channel', channel_id=channel.id) }}">{{ channel.name | safe }}</a>
    {% else %}
    <a href="{{ url_for('main.channel', channel_id=channel.id) }}"><h2>{{ channel.name | safe }}</h2></a>
    {% endif %}
    <p>
      房间数 {{ channel.room_total }}
      <span class="glyphicon glyphicon-arrow-{{ 'up' if channel.room_range >= 0 else 'down' }}" aria-hidden="true">{{ channel.room_range }}</span>
      <a href="{{ channel.url }}" target="_blank">官网</a><br>
      {{ moment(channel.crawl_date).format('YYYY-MM-DD HH:mm') }} 更新
    </p>
  </div>
  {% if loop.index % 6 == 0 or loop.last %}
    </div>
  {% endif %}
{% endfor %}
