{% extends "base.html" %}

{% block metas %}
{{ super() }}
<meta name="keywords" content="直播,直播排名,爬虫,Python,Selenium,数据挖掘">
<meta name="description" content="爬虫收集直播网站实时数据，提供图表显示和分析">
{% endblock %}

{% block title %}Tao蜘蛛-直播平台爬虫{% endblock %}

{% block page_footer %}
<p>Tao蜘蛛 爬虫收集直播网站频道、房间等数据，并进行图表制作和数据分析。</p>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.11.2/moment-with-locales.min.js") }}
{{ moment.lang('zh-cn') }}
{% endblock %}
