{% extends "base.html" %}

{% block navbar_li_channel %}class="active"{% endblock %}

{% block page_content %}
<template id="channel_detail">
  <div class="row">
    <div v-if="channel.image" class="col-lg-3 col-md-4">
      <img class="img-rounded" width="100%" v-bind:src="channel.image">
    </div>
    <div v-bind:class="channel.image ? 'col-lg-9 col-md-8' : 'col-lg-12 col-md-12'" style="text-align: left;">
      <h1>
        <span v-text="channel.name"></span>
        <small><a v-bind:href="channel.url" target="_blank">官网</a></small>
      </h1>
      <p>
        <h4>
          从属站点：<a v-bind:href="channel.link.site" v-text="channel.site"></a>
          当前直播房间数：<span v-text="channel.total"></span>
        </h4>
        <h4>更新时间：<span v-text="channel.crawl_date"></span></h4>
      </p>
    </div>
  </div>
  <h3>房间列表</h3>
  <div class="row">
    <template v-for="item in rooms">
      <div class="col-lg-3 col-md-6" style="text-align: center;">
        <a v-if="item.image" v-bind:href="item.link.detail">
          <img class="img-rounded" width="108%" v-bind:src="item.image" v-bind:title="item.name">
        </a>
      <a v-bind:href="item.link.detail" v-text="item.name"></a>
      <p>
        主播 <span v-text="item.host"></span><br>
        人气 <span v-text="item.online"></span> <span v-text="item.crawl_date"></span> 更新
      </p>
      </div>
    </template>
  </div>
  <div class="row">
    <template>
      
    </template>
  </div>
</template>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var channel_detail = new Vue({
    el: "#channel_detail",
    data: {
        channel: {},
        rooms: []
    },
    ready: function(){
        this.$http.get("{{ channel_url }}").then(
            function(response){
                this.$set("channel", response.body)
                this.$http.get(this.channel.rest.room).then(
                    function(response){
                        this.rooms = response.body
                    }, function(response){
                        alert(response.body['message'])
                    }
                )
            }, function(response){
                alert(response.body['message'])
            }
        )
    }
})
</script>
{% endblock %}
