{% extends "base.html" %}

{% block navbar_li_channel %}class="active"{% endblock %}

{% block page_content %}
<div class="container" id="index_channel">
  <div class="row">
    <template v-for="item in site">
      <div class="col-lg-4" style="text-align: center;">
        <a v-bind:href="item.link.detail">
          <img height="100px" v-bind:src="item.image">
        </a>
        <h4>
          <p>
            <span v-text="item.name"></span>
            <a v-bind:href="item.link.detail">更多内容</a>
          </p>
        </h4>
        <span style="text-align: left;">
          <h3>频道房间数 TOP{{ config['FLASK_CHANNEL_RANK_NUM'] }}</h3>
          <table class="table table-striped">
            <thead>
              <th>排名</th>
              <th>频道</th>
              <th>房间数</th>
            </thead>
            <tbody>
              <tr v-for="channelitem in item.channels">
                <td v-text="$index + 1"></td>
                <td><a v-bind:href='channelitem.link.detail' v-text='channelitem.name'></a></td>
                <td v-text="channelitem.total"></td>
              </tr>
            </tbody>
          </table>
        </span>
      </div>
    </template>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var site_channel = new Vue({
    el: "#index_channel",
    data: {
        site: [],
    },
    ready: function(){
        this.$http.get("{{ site_url }}").then(
            function(response){
                this.site = response.body
                for(index in this.site){
                    this.get_site_channels(index)
                }
            }, function(response){
                alert(response.body['message'])
            }
        )
    },
    methods: {
        get_site_channels: function(index){
            this.$http.get(this.site[index].rest.channel + "?per_page={{ config['FLASK_CHANNEL_RANK_NUM'] }}").then(
                function(resp){
                    this.$set("site[" + index + "].channels", resp.body)
                }, function(resp){
                    alert(resp.body['message'])
                }
            )
        }
    }
})
</script>
{% endblock %}
