{% extends "base.html" %}

{% block navbar_li_channel %}class="active"{% endblock %}

{% block page_content %}
<template id="channel_detail">
  <div class="row">
    <div v-if="channel.image" class="col-lg-3 col-md-4">
      <img class="img-rounded" width="100%" v-bind:src="channel.image">
    </div>
    <div v-bind:class="channel.image ? 'col-lg-9 col-md-8' : 'col-lg-12 col-md-12'" style="text-align: left;">
      <h1>
        <span v-text="channel.name"></span>
        <small><a v-bind:href="channel.url" target="_blank">官网</a></small>
      </h1>
      <p>
        <h4>
          从属站点：<a v-bind:href="channel.link.site" v-text="channel.site"></a>
          当前直播房间数：<span v-text="channel.total"></span>
        </h4>
        <h4>更新时间：<span v-text="channel.crawl_date | moment"></span></h4>
      </p>
    </div>
  </div>
  <h3>房间列表</h3>
  <div class="row" style="text-align: center;">
    <template v-for="item in rooms">
      <div class="col-lg-3 col-md-6">
        <a v-if="item.image" v-bind:href="item.link.detail" v-bind:title="item.name">
          <img class="img-rounded" width="100%" v-bind:src="item.image">
        </a>
      <a v-bind:href="item.link.detail" v-bind:title="item.name" v-html="item.name | except 34"></a>
      <p>
        主播 <span v-text="item.host"></span><br>
        人气 <span v-text="item.online"></span> <span v-text="item.crawl_date | moment"></span> 更新
      </p>
      </div>
    </template>
  </div>
  <div class="row">
    <div class="pagination">
      <a v-bind:class="['btn-nav', 'btn', 'btn-default', room_pagi.current_page == 1 ? 'disabled' : '']"
         v-on:click="room_page(1)">
        <span>«</span>
      </a>
      <a v-bind:class="['btn-nav', 'btn', 'btn-default', room_pagi.current_page == 1 ? 'disabled' : '']"
         v-on:click="room_page(room_pagi.current_page - 1)">
        <span>&nbsp;‹</span>
      </a>
      <template v-if="true" v-for="ep in page_array">
        <a v-bind:class="['btn', 'btn-default', ep == room_pagi.current_page ? 'active' : '']"
           v-on:click="room_page(ep)" v-text="ep"></a>
      </template>
      <a v-bind:class="['btn-nav', 'btn', 'btn-default', room_pagi.current_page == room_pagi.last_page ? 'disabled' : '']"
         v-on:click="room_page(room_pagi.current_page + 1)">
        <span>›&nbsp;</span>
      </a>
      <a v-bind:class="['btn-nav', 'btn', 'btn-default', room_pagi.current_page == room_pagi.last_page ? 'disabled' : '']"
         v-on:click="room_page(room_pagi.last_page)">
        <span>»</span>
      </a>
    </div>
  </div>
</template>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var channel_detail = new Vue({
    el: "#channel_detail",
    data: {
        channel: {},
        rooms: [],
        room_pagi: {},
        page_array: []
    },
    ready: function(){
        this.$http.get("{{ channel_url }}").then(
            function(response){
                this.$set("channel", response.body)
                this.room_page(1)
            }, function(response){
                alert(response.body['message'])
            }
        )
    },
    methods: {
        room_page: function(page){
            this.$http.get(this.channel.rest.room + "?isvue=1&page=" + page).then(
                function(response){
                    this.rooms = response.body.data
                    base_pagi = response.body.links.pagination
                    page_array = [base_pagi.current_page]
                    leftn = 2
                    rightn = 2
                    leftstop = false
                    rightstop = false
                    while((leftn > 0 || rightn > 0) && !(leftstop || rightstop)){
                        if(!leftstop && leftn > 0){
                            if(page_array[0] - 1 > 0){
                                page_array.splice(0, 0, page_array[0] - 1)
                                leftn -= 1
                            }else{
                                leftstop = true
                                rightn += leftn
                                leftn = 0
                            }
                        }
                        if(!rightstop && rightn > 0){
                            if(page_array[page_array.length - 1] + 1 < base_pagi.last_page){
                                page_array.push(page_array[page_array.length - 1] + 1)
                                rightn -= 1
                            }else{
                                rightstop = true
                                leftn += rightn
                                rightn = 0
                            }
                        }
                    }
                    this.$set("room_pagi", base_pagi)
                    this.page_array = page_array
                }, function(response){
                    alert(response.body['message'])
                }
            )
        }
    }
})
</script>
{% endblock %}
