{% extends "main/base.html" %}

{% block navbar_li_channel %}class="active"{% endblock %}

{% block styles_private %}
<link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
{% endblock%}

{% block page_content %}
<div class="container marketing">
<!-- Three columns of text below the carousel -->
{% for site in sites %}
  {% if (loop.index - 1) % 2 == 0 %}
  <div class="row">
  {% endif %}
    <div class="col-lg-6">
      <a href="{{ url_for('main.site', site_id=site.id) }}">
        <img height="100px" src="{{ site.image_url }}">
      </a>
      <h4><p>
        {{ site.name }}
        <a href="{{ url_for('main.site', site_id=site.id) }}">更多内容</a>
      </p></h4>
      <span  style="text-align: left;">
      <h3>频道房间 TOP{{ config['FLASK_RANK_NUM'] }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>频道</th>
            <th>房间数</th>
            <th>增减幅度</th>
          </tr>
        </thead>
        <tbody>
        {% for channel in site.channeltop.limit(config['FLASK_RANK_NUM']).all() %}
          <tr>
            <td align="center">{{ loop.index }}</td>
            <td><a href="{{ url_for('main.channel', channel_id=channel.id) }}">{{ channel.name }}</a></td>
            <td>{{ channel.room_total }}</td>
            <td><span class="glyphicon glyphicon-arrow-{{ 'up' if channel.room_range >= 0 else 'down' }}" aria-hidden="true">{{ channel.room_range }}</span></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </span>
    </div>
  {% if loop.index % 2 == 0 %}
  </div>
  {% endif %}
{% endfor %}
</div>
{% endblock %}
