{% extends "base.html" %}

{% block navbar_li_room %}class="active"{% endblock %}

{% block page_content %}
<div class="container" id="index_room">
  <div class="row">
    <template v-for="item in site">
      <div class="col-lg-6" style="text-align: center;">
        <a v-bind:href="item.link.detail">
          <img height="100px" v-bind:src="item.image">
        </a>
        <h4>
          <p>
            <span v-text="item.name"></span>
            <a v-bind:href="item.link.detail">更多内容</a>
          </p>
        </h4>
        <span style="text-align: left;">
          <h3>房间人气 TOP{{ config['FLASK_ROOM_RANK_NUM'] }}</h3>
          <table class="table table-striped">
            <thead>
              <th width="50px">排名</th>
              <th>房间</th>
              <th>频道</th>
              <th>人气</th>
            </thead>
            <tbody>
              <tr v-for="roomitem in item.rooms">
                <td v-text="$index + 1"></td>
                <td>
                  <a v-bind:href="roomitem.link.detail" v-text="roomitem.name"></a>
                  <span v-if="$index < 3"><br>
                    <a v-bind:href="roomitem.link.detail">
                      <img width="250px" height="150px" v-bind:src="roomitem.image">
                    </a>
                  </span>
                </td>
                <td><a v-bind:href="roomitem.link.channel" v-text="roomitem.channel"></a></td>
                <td v-text="roomitem.online"></td>
              </tr>
            </tbody>
          </table>
        </span>
      </div>
    </template>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var site_room = new Vue({
    el: "#index_room",
    data: {
        site: []
    },
    ready: function(){
        this.$http.get("{{ site_url }}").then(
            function(response){
                this.site = response.body
                for(index in this.site){
                    this.get_site_rooms(index)
                }
            }, function(response){
                alert(response.body['message'])
            }
        )
    },
    methods: {
        get_site_rooms: function(index){
            this.$http.get(this.site[index].rest.room + "?per_page={{ config['FLASK_ROOM_RANK_NUM'] }}").then(
                function(resp){
                    this.$set("site[" + index + "].rooms", resp.body)
                }, function(resp){
                    alert(resp.body['message'])
                }
            )
        }
    }
})
</script>
{% endblock %}
