{% extends "base.html" %}

{% block navbar_li_room %}class="active"{% endblock %}

{% block page_content %}
<template id="room_detail">
  <div class="row">
    <div v-if="room.image" class="col-lg-4 col-md-4">
      <img class="img-rounded" width="90%" v-bind:src="room.image">
    </div>
    <div v-bind:class="room.image ? 'col-lg-8 col-md-8' : 'col-lg-12 col-md-12'" style="text-align: left;">
      <h2>
        <span v-text="room.name"></span>
        <small><a v-bind:href="room.url" target="_blank">官网</a></small></h2>
      <p>
        <h4>主播：<span v-text="room.host"></span></h4>
        <h4>频道：<a v-bind:href="room.link.channel" target="_blank" v-text="room.channel"></a></h4>
        <h4>站点：<a v-bind:href="room.link.site" target="_blank" v-text="room.site"></a><br></h4>
        <h4>更新时间：<span v-text="room.crawl_date | moment"></span></h4>
        <h4>人气：<span v-text="room.online"></span></h4>
      </p>
    </div>
  </div>
</template>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var room_detail = new Vue({
    el: "#room_detail",
    data: {
        room: {}
    },
    ready: function(){
        this.$http.get("{{ room_url }}").then(
            function(response){
                this.$set("room", response.body)
            }, function(response){
                alert(response.body['message'])
            }
        )
    }
})
</script>
{% endblock %}
