{% extends "webpage/base.html" %}

{% block title %}{{ site.name }}-站点信息{% endblock %}

{% block navbar_li_site %}class="active"{% endblock %}

{% block page_content %}
<div class="page-header">
  <table class="table">
    <tbody>
      <tr>
        <td width="20%"><img src="{{ site.image_url }}"></td>
        <td align="left">
          <h1>{{ site.name }}&nbsp;<small><a href="{{ site.url }}" target="_blank">官网</a></small></h1>
          <p><h4>频道数：{{ site.channels.filter_by(valid=True).count() }}</h4></p>
          <p><h4>正在直播房间数：{{ site.rooms.filter_by(openstatus=True).count() }}</h4></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% include "webpage/_channels.html" ignore missing %}
{% if pagination %}
<div style="text-align: center">
{% import "bootstrap/pagination.html" as macros %}
{{ macros.render_pagination(pagination, endpoint='webpage.site', args={'site_id': site.id}) }}
</div>
{% endif %}
{% endblock %}
