coverage>=4.2
Flask>=0.11.1
Flask-Cors>=3.0.2
Flask-Login>=0.3.2
Flask-Migrate>=2.0.0
Flask-OAuthlib>=0.9.3
Flask-RESTful>=0.3.5
Flask-Script>=2.0.5
Flask-SQLAlchemy>=2.1
numpy>=1.13.0
redis>=2.10.5
Scrapy>=1.2.1
scrapy-redis>=0.6.3
SQLAlchemy>=1.1.2
