{% extends "base.html" %}

{% block title %}Tao蜘蛛-订阅情况{% endblock %}

{% block page_content %}
<div class="page-header">
  <p><h3>已订阅房间<small>（{{ subscribe_count }}/{{ g.user.subscribe_max }}）</small></h3></p>
</div>
{% if subscribe_count < 1 %}
{% import "bootstrap/wtf.html" as wtf %}
  <form action="" method="post" class="form form-inline" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens='only') }}
    <div class="form-group {{ 'has-error' if form.roomurl.errors else '' }} {{ 'required' if form.roomurl.flags.required else '' }}">
      {{ form.roomurl.label()|safe }}：{{ form.roomurl(class="form-control", size=40)|safe }}
    </div>
    <div class="form-group {{ 'has-error' if form.roomurl.errors else '' }}">
      {% if form.roomurl.errors %}
        {% for error in form.roomurl.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
    {{ form.submit(class='btn btn-primary') }}
  </form>
{% endif %}
{% if rooms %}
  {% import "_rooms.html" as macros_rooms with context %}
  {% for site_name, room_list in rooms %}
    <h4>{{ site_name }}</h4>
    {{ macros_rooms.rooms_display(rooms=room_list) }}
  {% endfor %}
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}
