{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf%}

{% block navbar_li_search %}class="active"{% endblock %}

{% block page_content %}
<h3>搜索正在直播站点房间</h3>
<template id="search">
  <form class="form form-horizontal" onsubmit="return false">
    <div class="form-group">
      <label class="control-label col-lg-2">站点</label>
      <div class="col-lg-5">
        <div class="checkbox">
          <label v-for="item in site">
            <input type="checkbox" v-bind:value="$index" v-model="checksite">
            <img width="150px" height="50px" v-bind:src="item.image">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">房间名</label>
      <div class="col-lg-5">
        <input class="form-control" type="text" v-model="name" placeholder="房间名">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">主播名</label>
      <div class="col-lg-5">
        <input class="form-control" type="text" v-model="host" placeholder="主播名">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2"></label>
      <div class="col-lg-5">
        <button class="btn btn-primary" v-on:click="submit">搜索</button>
      </div>
    </div>
  </form>
  <template v-for="siteitem in site">
    <h3 v-if="siteitem.rooms.length > 0" v-text="siteitem.name"></h3>
    <div class="row" style="text-align: center;">
      <template v-for="item in siteitem.rooms">
        <div class="col-lg-3 col-md-6">
          <a v-if="item.image" v-bind:href="item.link.detail" v-bind:title="item.name">
            <img class="img-rounded" width="100%" v-bind:src="item.image">
          </a>
        <a v-bind:href="item.link.detail" v-bind:title="item.name" v-html="item.name | except 34"></a>
        <p>
          主播 <span v-text="item.host"></span><br>
          人气 <span v-text="item.online"></span> <span v-text="item.crawl_date | moment"></span> 更新
        </p>
        </div>
      </template>
    </div>
    <div v-if="siteitem.rooms.length >= {{ config['FLASK_SEARCH_PER_PAGE'] }}" class="alert alert-warning" role="alert">
      若搜索结果较多，请输入更精确查询条件！
    </div>
  </template>
</template>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var search = new Vue({
    el: "#search",
    data: {
        name: "",
        host: "",
        checksite: [],
        site: [],
    },
    ready: function(){
        this.$http.get("{{ site_url }}").then(
            function(response){
                for(index in response.body){
                    this.site.push(response.body[index])
                }
            }, function(response){
                alert(response.body['message'])
            }
        )
    },
    methods: {
        submit: function(){
            for(csi in this.checksite){
                this.get_site_rooms(this.checksite[csi])
            }
        },
        get_site_rooms: function(index){
            var data = {
                per_page: {{ config['FLASK_SEARCH_PER_PAGE'] }},
                name: this.name,
                host: this.host
            }
            this.$http.get(this.site[index].rest.room, {params: data}).then(
                function(resp){
                    this.$set("site[" + index + "].rooms", resp.body)
                }, function(resp){
                    alert(resp.body['message'])
                }
            )
        }
    }
})
</script>
{% endblock %}