.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.channel-tabs {
    margin-top: 16px;
}
ul.channels {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.channel-tabs ul.channels {
    margin: 0px;
    border-top: none;
}
ul.channels li.channel {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.channels li.channel:hover {
    background-color: #f0f0f0;
}
div.channel-date {
    float: right;
}
div.channel-roomcount {
    font-weight: bold;
}
div.channel-thumbnail {
    position: absolute;
}
div.channel-content {
    margin-left: 48px;
    min-height: 48px;
}
div.channel-footer {
    text-align: right;
}
ul.rooms {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.rooms li.room {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.rooms li.room:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.rooms li.room:hover {
    background-color: #f0f0f0;
}
div.room-date {
    float: right;
}
div.room-author {
    font-weight: bold;
}
div.room-thumbnail {
    position: absolute;
}
div.room-content {
    margin-left: 48px;
    min-height: 48px;
}
div.room-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.channel-body h1 {
    font-size: 140%;
}
.channel-body h2 {
    font-size: 130%;
}
.channel-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
