{% extends "base.html" %}

{% block navbar_li_aboutme %}class="active"{% endblock %}

{% block page_content %}
{{ mdhtml | safe }}
<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-lg-6">
      <h4><b>微信扫码</b></h4>
      <img width="61%" height="61%" src="http://ww4.sinaimg.cn/large/77ef2ab1gw1f2ne2zgy4zj20bt0bqq4s.jpg">
    </div>
    <div class="col-lg-6">
      <h4><b>支付宝钱包扫码</b></h4>
      <img src="http://ww3.sinaimg.cn/large/77ef2ab1gw1f2ne2zc10cj209a09bdgz.jpg">
    </div>
  </div>
</div>
{% endblock %}
