{% extends "base.html" %}

{% block navbar_li_aboutme %}class="active"{% endblock %}

{% block page_content %}
{{ mdhtml | safe }}
<table>
  <tbody>
    <tr align="center">
      <td><b>微信扫码捐赠</b></td>
      <td><b>支付宝钱包扫码捐赠</b></td>
    </tr>
    <tr align="center">
      <td><img width="80%" height="80%" src="http://ww4.sinaimg.cn/large/77ef2ab1gw1f2ne2zgy4zj20bt0bqq4s.jpg"></td>
      <td><img src="http://ww3.sinaimg.cn/large/77ef2ab1gw1f2ne2zc10cj209a09bdgz.jpg"></td>
    </tr>
  </tbody>
</table>
{% endblock %}
