{% extends "bootstrap/base.html" %}

{% block metas %}
{{ super() }}
<meta name="author" content="https://github.com/taogeT">
<meta name="keywords" content="直播,直播排名,爬虫,Python,Celery,数据挖掘">
<meta name="description" content="爬虫收集直播网站实时数据，提供图表显示和分析">
{% endblock %}

{% block title %}Tao蜘蛛-直播平台爬虫{% endblock %}

{% block styles %}
<link rel="shortcut icon" href="https://avatars2.githubusercontent.com/u/6917395?v=3&s=200" type="image/x-icon">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/6917395?v=3&s=200" type="image/x-icon">
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block styles_private %}{% endblock %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    {% block navbar_content %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">Tao蜘蛛</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% block navbar_li_site %}{% endblock %}><a href="{{ url_for('main.sites_index') }}">站点</a></li>
        <li {% block navbar_li_channel %}{% endblock %}><a href="{{ url_for('main.channels_index') }}">频道</a></li>
        <li {% block navbar_li_search %}{% endblock %}><a href="{{ url_for('main.search') }}">搜索</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if g.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ g.user.nickname if g.user.nickname else g.user.username }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('subscribe.slist') }}">订阅</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
          </ul>
        </li>
      {% else %}
        <li {% block navbar_li_login %}{% endblock %}><a href="{{ url_for('auth.login') }}">登录</a></li>
      {% endif %}
        <li {% block navbar_li_aboutme %}{% endblock %}><a href="{{ url_for('about') }}">关于站点</a></li>
      </ul>
    </div>
    {% endblock %}
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
{% block page_content %}{% endblock %}
</div>
<footer class="footer">
  <div class="container">
    <p>Tao蜘蛛 爬虫收集直播网站频道、房间等数据，并进行图表制作和数据分析。</p>
    <p>作者 <a href="{{url_for('about')}}">taogeT</a> 独立开发完成，源代码受 <a rel="license" href="https://github.com/taogeT/display_shelf/blob/master/LICENSE" target="_blank">GPL</a> 开源协议保护，地址 <a href="https://github.com/taogeT" target="_blank">GitHub 仓库</a>。</p>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="//cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.11.2/moment-with-locales.min.js") }}
{{ moment.lang('zh-cn') }}
{% endblock %}
