{% extends "base.html" %}

{% block page_content %}
<h3>当前爬虫扫描间隔：{{ g.celery_interval }} 分钟</h3>
<pre id="crawllog" style="white-space: pre-wrap;word-wrap: break-word;">
{{ crawllog }}
</pre>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    <!-- refresh every 10 mins -->
    setInterval(function(){
        $.get("{{ url_for('crawler.api_log')}}", function(resp){
            $('#crawllog').html(resp.log)
        }, 'json')
    }, 1000 * 60 * 10)
</script>
{% endblock %}