{% extends "base.html" %}

{% block navbar_li_home %}class="active"{% endblock %}

{% block page_content %}
  <div class="jumbotron" style="text-align: left;">
    <h2><a href="{{ room.url }}">{{ room.name }}</a></h2>
    <h3>主播：{{ room.boardcaster }}</h3>
    <h4>
      频道：<a href="{{ url_for('main.channel', channel_id=room.channel.id) }}">{{ room.channel.name }}</a>&nbsp;&nbsp;
      更新时间：{{ moment(room.last_crawl_date).format('YYYY-MM-DD HH:mm:ss') }}&nbsp;&nbsp;
      人气：{{ room.popularity }}&nbsp;&nbsp;
      关注：{{ room.follower }}&nbsp;&nbsp;
    </h4>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr style="background-color: #9C9C9C">
            <td align="center"><b>日期</b></td>
            <td align="center"><b>人气</b></td>
          </tr>
        </thead>
        <tbody>
        {% for dataset in room.dataset_popularity %}
          <tr>
            <td align="center">{{ moment(dataset.since_date).format('YYYY-MM-DD HH:mm:ss') }}</td>
            <td align="center">{{ dataset.popularity }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-8">
      <h2>图表Building...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr style="background-color: #9C9C9C">
            <td align="center"><b>日期</b></td>
            <td align="center"><b>关注</b></td>
          </tr>
        </thead>
        <tbody>
        {% for dataset in room.dataset_follower %}
          <tr>
            <td align="center">{{ moment(dataset.since_date).format('YYYY-MM-DD HH:mm:ss') }}</td>
            <td align="center">{{ dataset.follower }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-8">
      <h2>图表Building...</h2>
    </div>
  </div>
{% endblock %}